@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,300);


body {
    font-family: 'Source Sans Pro';
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn {
    margin: 0;
    padding: 0;
}
/*.tracker .list-wrap {
    height: 700px;
}*/
#teamList, #usersList, #userTeamPosList {
    margin: 0;
    padding: 10px;
    height: 350px;
}
.teams, .users, .userteampos {
    padding: 0;
    height: 500px;
    /*border: 2px solid #026689;*/
    border-radius: 10px;
    background: #dad2bf;

}

.tracker ul li {
    list-style-type: none;
    margin-bottom: 15px;
    border-radius: 5px;
}
.meta {
    margin: 0 10px 10px 10px;
}
.tracker ul li:hover {
    cursor: pointer;
}
.tracker ul li.teamItem, .tracker ul li.userItem, ul li.userTeamPosItem {
    
    border: 2px solid #026689;
    background: #fff;
}

.tracker ul li.teamItem .edit-team i {
    margin-top: 10px;
    color: #004573;
    margin-left: 5px;
    font-size: 20px;
}



.teams input, .users input {
    margin: 10px 0;
    height: 40px;
    /*border: 2px solid #026689;*/
    /*border-width: 2px 0;*/
    font-size: 20px;
    padding-left: 5px;
    width: 95%;
    border-bottom-style: none;
    border-radius: 5px;
}
.tracker ul li.userItem .user-title, .tracker ul li.userTeamPosItem .userTeamPos-title {
    height: 20px;
    background: #026689;
}
