
@{
    ViewBag.Title = "Compliting registration";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm registration</title>
</head>
<body>
<div>
    <h1>@ViewBag.Title</h1>
    <p>E-mail sent with further instructions upon completion of registration</p>
</div>
</body>
</html>



