
@{
    ViewBag.Title = "_ListUsersPartial";
}

<ul id="usersList">
    @foreach (var user in Model.Users)
    {
        <li class="userItem">
            <div class="user-title col-md-12">
                
            </div>
            <div class="meta">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Email</h4>
                        <span>@user.Email</span>
                    </div>
                    <div class="col-md-3 ">
                        <h4>Name</h4>
                        <span>@user.UserName</span>
                    </div>
                    <div class="col-md-3">
                        <h4>Created</h4>
                        <span>25.03.2015</span>
                    </div>
                    @*<div class="col-md-3 text-right">
                    <div class="edit-team">
                        <a href="#"><i class="fa  fa-pencil-square-o"></i></a>
                        <a href="#"><i class="fa  fa-times"></i></a>
                    </div>
                </div>*@
                </div>
            </div>
            <input type="hidden" class="userId" value="@user.Id"/>
        </li>
    }
</ul>



